:root {
  --primary-bg: #ebebeb;
  --sec-bg: #fff;
  --footer-bg: #1f1f1f;
  --icon-color: rgb(255, 88, 22);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-bg);
}

a {
  text-decoration: none;
  color: var(--icon-color);
}

/* utilities */
.p-1 {
  padding: 1rem;
}

.underline-bottom {
  border-bottom: 2px solid rgb(189, 187, 187);
}

/* main css  */
.container {
  max-width: 960px !important;
  margin: auto !important;
}

/* navbar classess */

.nav {
  height: 4.2rem;
  color: #fff;
  background-color: var(--footer-bg);
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  background-color: inherit;
}

.nav .container > div {
  display: flex;
  margin-left: 12px;
}

.nav .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .container .logo i {
  font-size: 2rem;
  color: var(--icon-color);
  margin-right: 10px;
}
.nav .container .logo {
  margin: auto;
}

.nav .container .current-city {
  display: flex;
  margin: 0 1rem;
  align-items: center;
}

.nav .container .current-city .city-icon {
  background-color: var(--footer-bg);
  border-radius: 25px;
}

.nav .container .current-city * {
  font-size: 1rem;
}
.nav .container h2 i {
  color: var(--icon-color);
  padding-right: 6px;
}

.nav .container .search-outer {
  background-color: var(--sec-bg);
  padding: 8px 10px;

  border-radius: 6px;
  z-index: 1;
}

.nav .container .search-outer i {
  color: var(--footer-bg);
  margin-right: 6px;
}

.nav .container .search-outer input {
  outline: none;
  border: none;
  width: 210px;
}

.nav .container #place-search-input {
  height: 1rem;
  padding: 0;
  margin: 0;
}

/* special css modifier for the place-search.css */

.mq-place-search {
  width: 200px;
}

.mq-dropdown-menu {
  width: 350px !important;
}

/* current weather classess */

.current-weather {
  margin-top: 1rem;
}

.current-weather .current-weather-card {
  max-width: 700px;
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--sec-bg);
}
.current-weather
  .current-weather-card
  .current-weather-left
  .current-weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 1.2rem;
  margin-left: 0.6rem;
}

.current-weather
  .current-weather-card
  .current-weather-left
  .current-weather-info
  .city-icon {
  background-color: rgb(33, 5, 190, 0.3);
  border-radius: 10px;
}

.current-weather
  .current-weather-card
  .current-weather-left
  .current-weather-info
  > div {
  margin-right: 14px;
}

.current-weather
  .current-weather-card
  .current-weather-left
  .current-weather-info
  .current-temp-info {
  display: flex;

  justify-content: center;
  align-items: center;
}

.current-weather
  .current-weather-card
  .current-weather-left
  .current-weather-info
  .current-temp-info
  > div {
  display: flex;
}

.current-weather
  .current-weather-card
  .current-weather-left
  .current-weather-info
  .current-temp-info
  > div
  > div {
  margin-left: 8px;
}

.current-weather
  .current-weather-card
  .current-weather-left
  .current-weather-info
  .current-temp-info
  .current-temp-sub {
  font-size: 2rem;
  opacity: 0.7;
  margin-left: 3px;
}

.current-weather
  .current-weather-card
  .current-weather-left
  .current-weather-info
  .current-temp-info
  .current-temp-sup {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: -5rem;
}

.current-weather
  .current-weather-card
  .current-weather-left
  .current-weather-info
  i {
  font-size: 5rem;
}

.current-weather .current-weather-card .current-weather-left h4 {
  opacity: 0.7;
}

.current-weather
  .current-weather-card
  .current-weather-left
  .current-weather-info
  h1 {
  font-size: 5rem;
}

.current-weather .current-weather-card .current-weather-right {
  width: 340px;
}

/* current weather right */

.current-weather
  .current-weather-card
  .current-weather-right
  .current-weather-description {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.current-weather
  .current-weather-card
  .current-weather-right
  .current-weather-description
  div
  p {
  font-size: 1.1rem;
}

.current-weather
  .current-weather-card
  .current-weather-right
  .current-weather-description
  div:nth-child(2)
  p {
  font-weight: bold;
  font-size: 1.1rem;
}

.current-weather
  .current-weather-card
  .current-weather-right
  .current-weather-description
  .description-text {
  opacity: 0.7;
}

/* forecast classes */
.weather-forecast .forecast-card {
  max-width: 700px;
  /*  margin: auto; */
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--sec-bg);
}

.weather-forecast .forecast-card .forecast-info-container {
  display: flex;
  align-items: center;
}

.weather-forecast .forecast-card .forecast-info-container .forecast-img {
  background-color: rgba(33, 5, 190, 0.3);
  border-radius: 12px;
}

.weather-forecast .forecast-card .forecast-info-container .forecast-date {
  align-self: center;
}

.weather-forecast
  .forecast-card
  .forecast-info-container
  .forecast-date
  h3:nth-child(2) {
  opacity: 0.7;
}

.weather-forecast .forecast-card .forecast-info-container .forecast-temp {
  margin: 0 1.5rem 0 1rem;
}

.weather-forecast .forecast-card .forecast-info-container .forecast-temp h1 {
  font-size: 3rem;
}

.weather-forecast
  .forecast-card
  .forecast-info-container
  .forecast-description {
  align-self: center;
  text-align: center;
  margin: auto;
}

.weather-forecast .forecast-card .forecast-info-container .forecast-icon {
  margin-left: 2rem;
}

.weather-forecast .forecast-card .forecast-info-container .forecast-icon i {
  font-size: 3rem;
}

.weather-forecast
  .forecast-card
  .forecast-info-container
  .forecast-description
  p {
  font-size: 1.2rem;
}

.weather-forecast .forecast-card .forecast-prec {
  opacity: 0.7;
}

.weather-forecast .forecast-card .forecast-prec i {
  font-size: 1rem;
}

.weather-forecast .forecast-card .forecast-prec span {
  margin-left: 10px;
}

/* autocomplete */

#autocomplete {
  position: relative;
  margin-right: 12px;
}

.results {
  max-height: 550px;
}

.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown {
  display: none;
  width: 100%;
  padding-left: 10px;
  position: absolute;
  top: 20;
  left: 0;
  background-color: #fff;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
  color: var(--footer-bg);
}

.dropdown-item:hover {
  cursor: pointer;
}

/* Bulma.css replacement */

.is-active {
  display: block;
}

/* Hamburger Menu */
.nav .nav-right {
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
}
/* Style the navigation menu */
.topnav {
  /*   overflow: hidden; */

  position: relative !important;
  margin-top: 10px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 39px;
  background-color: rgba(51, 51, 51, 0.8);
  width: 160px;
  text-align: right;
  padding-bottom: 20px;
}

/* Style navigation menu links */
.topnav a {
  color: blue;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  color: white;
  background: var(--footer-bg);
  display: block;
}

/* Slider */
/* The switch - the box around the slider */
.switch {
  margin-right: 1rem;
  margin-top: 1rem;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Footer */

footer {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
}
