@media only screen and (max-width: 1280px) {
  .current-weather .current-weather-card {
    margin: auto;
  }

  .weather-forecast .forecast-card {
    margin-left: auto;
    margin-right: auto;
  }

  .topnav {
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    padding: 0 2rem;
  }
  .nav .container .logo h2 {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .nav {
    padding: 0;
    height: 5rem;
  }

  .nav .container {
    display: block;
  }

  .nav .container .logo {
    display: none;
  }

  .nav .container > div {
    justify-content: center;
    margin-left: 0;
  }

  .nav .container .current-city {
    height: 2rem;
  }

  .nav .container .city-icon {
    display: none;
  }

  #autocomplete {
    padding-right: 6px;
  }

  .current-weather .current-weather-card {
    margin: 0 1rem;
  }

  .current-weather
    .current-weather-card
    .current-weather-left
    .current-weather-info {
    margin-left: 1rem;
    padding: 1.5rem;
  }

  .current-weather .current-weather-card .current-weather-right {
    display: none;
  }

  .weather-forecast .container .forecast-card {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .weather-forecast .container .forecast-card .forecast-description {
    display: none;
  }

  .weather-forecast .container .forecast-card .forecast-icon .forecast-img {
    width: 60px;
  }

  .weather-forecast .container .forecast-card .forecast-temp h1 {
    font-size: 2rem;
  }

  .search-outer {
    position: relative;
    margin-left: 1.8rem;
  }

  .dropdown {
    position: absolute;
    left: 0;
  }

  .topnav {
    padding-right: 1rem;
    align-self: auto;
  }

  .topnav #myLinks {
    margin-top: 36px;
  }

  .nav .nav-right {
    justify-content: space-between !important;
  }

  footer {
    font-size: 12px;
  }
}
